<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TOPページ</title>
  </head>
  <body>
    <h1><%= title %>ejs</h1>
    <div x-data="{ userName: '' }">
      <input type="text" placeholder="名前を教えてね" x-model="userName">
      <button @click="createUser($data)">決定</button>
    </div>

    <button id="create" @click="create">ルーム作成</button>
    <button id="enter">enter</button>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    <script>
      const socket = io("http://localhost:3000");

      socket.on("connect", () => {
        console.log(socket.id); // x8WIv7-mJelg7on_ALbx

        socket.on("updateRoom", data => {
          console.log(data);
        })

        socket.on("notifyError", data => {
          console.log(data)
        })
      });

      let userName = ''

      function createUser (data) {
        console.info("createUser")
        userName = data.userName
      }

      const create = async () => {
        console.info("create")
        // const res = await fetch('/create', {
        //   method: 'POST',
        //   headers: {
        //     'Content-Type': 'application/json'
        //   },
        //   body: JSON.stringify({
        //     userName: 'fukke001'
        //   })
        // }).then(data => data.json())
        // console.log(res)
        // if (res.message === 'success') {
        //   socket.emit("join", {
        //     userName: 'fukke001',
        //     roomId: res.roomId
        //   })
        // }
        socket.emit("create", {
          userName,
        })
      }

      const enter = () => {
        socket.emit("enter", {
          roomId: 'abcd',
          userName: 'yuuko'
        })
      }

      document.querySelector('#create').addEventListener('click', create);
      document.querySelector('#enter').addEventListener('click', enter);
    </script>
  </body>
</html>